<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
    <connectionStrings >
      <add name="MsSql" connectionString="Data Source=.\cai;Initial Catalog=food;Integrated Security=True"/> 
    </connectionStrings>
    <appSettings>
      <add  key="DataBaseType" value="mssql"/>
    </appSettings>

</configuration>
